<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
  <div id="footer-info" class="inner" align="center">
  Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;

<!-- 不蒜统计 -->
<span style="display: inline;" id="busuanzi_container_site_uv">总访问量<span id="busuanzi_value_site_uv" font="微软雅黑" style="color:white"></span> 次</span>&nbsp;
<span style="display: inline;" id="busuanzi_container_site_pv"l><span id="busuanzi_value_site_pv" font="微软雅黑" style="color:white"></span> 人</span>
    </div>
<div class="clearfix"></div>
  </div>
</footer>
